<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="fermaKursEntities" connectionString="metadata=res://*/DB.KumysnayaModel.csdl|res://*/DB.KumysnayaModel.ssdl|res://*/DB.KumysnayaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-74P6SFK;initial catalog=KumysnaFermaKurs;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KumysnaFermaEntities" connectionString="metadata=res://*/DB.KumysnayaModel.csdl|res://*/DB.KumysnayaModel.ssdl|res://*/DB.KumysnayaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-74P6SFK;initial catalog=KumysnaFermaKurs;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="fermaEntities" connectionString="metadata=res://*/DB.KumysnayaModel.csdl|res://*/DB.KumysnayaModel.ssdl|res://*/DB.KumysnayaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-74P6SFK;initial catalog=KumysnaFermaKurs;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KumysnaFermaKursEntities" connectionString="metadata=res://*/DB.KumysnayaModel.csdl|res://*/DB.KumysnayaModel.ssdl|res://*/DB.KumysnayaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-74P6SFK;initial catalog=KumysnaFermaKurs;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>