<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
	  <add name="KumysnaFermaEntities" connectionString="metadata=res://*/MyDb.KumysnayaModel.csdl|res://*/MyDb.KumysnayaModel.ssdl|res://*/MyDb.KumysnayaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-74P6SFK;initial catalog=KumysnaFermaKurs;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

	  
  </connectionStrings>
</configuration>